# 测试环境配置
VITE_DYNAMIC_ENVIRONMENT_ID=2bc61908-4f6f-479b-9eb6-c5fa1c346003
VITE_GA_TRACKING_ID=G-CP1FWQW6E8
VITE_MODE=development
VITE_TG_APP_LINK=https://t.me/dadada_2025_bot/game
VITE_PC_LINK=https://app.test.codatta.io

SENTRY_AUTH_TOKEN=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
# -239: mainnet, -3: testnet
VITE_WALLET_NETWORK_CHAIN=-3
VITE_TON_USDT_MARSTER_ADDRESS='kQD0GKBM8ZbryVk2aESmzfU6b9b_8era_IkvBSELujFZPsyy'
VITE_WALLET_NETWORK_CHAIN='-3'

# 生产环境配置
# VITE_DYNAMIC_ENVIRONMENT_ID=a55eb2b4-84ca-41ff-a369-fc52646ed585
# VITE_GA_TRACKING_ID=G-K8V0FL9E1N
# VITE_MODE=production
# SENTRY_AUTH_TOKEN=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
# VITE_WALLET_NETWORK_CHAIN='-239'
