VITE_GA_TRACKING_ID=G-CP1FWQW6E8
VITE_TMA_LINK=https://t.me/CodattaBot/app?startapp=dG1hOi8vL3ZhbGlkYXRpb24
VITE_MODE=development
VITE_TG_BOT_NAME=codatta_bot
SENTRY_AUTH_TOKEN=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
VITE_ARMS_PID=1esd892viw6@1b03cd2527b30bb